

/* Old Style Sheet* {
  box-sizing: border-box;
  background-color: #242424
}
/*Header CSS
header div{
	position:absolute;
}
header div nav {
	position:absolute;
	height:2em;
	line-height:2em;
	background-color:inherit;
}

/* Nav bar CSS
.title {
  font-size: 2em;
  margin-left: 25px;
  color: #9fd1cc;
}

nav a {
  margin-left: 0;
  width: 20%;
  background: #343434;
  color: #FAEBEFFF;
  display: inline;
  padding: 1em 5em;
  text-align: center;
  font-size: 10px;
  text-decoration: none;
  border: 1px solid black;
}
nav ul li{
  list-style-type: none;
	padding: 0;
	position: relative;
}
nav ul li ul{
 display: none;
}

}
nav ul li ul li a{
	text-align: center;
	display: block;
	padding: 1em 0;
	text-decoration: none;
}
a.home:hover,
a.home:active {
  background: #a30000;
}

a.inclassprojs:hover,
a.inclassprojs:active {
  background: #1e7800;
}
a.otherprojs:hover,
a.otherprojs:active {
  background: #004278;
}

a.about:hover,
a.about:active{
  background:#2a0078;
}
a.git:hover,
a.git:active{
  background: #5c007d;
}
/*--- DROPDOWN ---*/
/*--- code inspired by https://github.com/Eragon5779/YCH/blob/master/layout/index.css ---
nav ul li:hover> ul{
	display: block;
	width: 50%;
} */



h1 {
    color: #9fd1cc;
}
h2 {
    color: #FAEBEFFF;
}
h3 {
    color: #8abad3ff;
}
p{
  color: #c3d6d4;
}
li {
    color: #fff4e8;
}

a {
    color: #ADEFD1FF;
}
body{
  background-color: #242424;
} 
